<?xml version='1.0' encoding='utf-8'?>
<widget id="com.cct.cesarm" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Places-cesar</name>
    <description>
        Travel Pal - CCT 
    </description>
    <author email="cesar_miguel90@hotmail.com" href="http://phonegap.com">
        Cesar Miguel Garcia
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
